@model MvcOnlineTradeAutomation.Models.Department
@{
    ViewBag.Title = "CreateDepartment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container mt-4">
    <h2 class="mb-3">Create Department</h2>

    <form method="post" action="@Url.Action("CreateDepartment","Department")">
        <div class="form-group mb-3">
            @Html.LabelFor(m => m.DepartmentName, "Department Name", new { @class = "form-label" })
            @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", placeholder = "Enter Department name" })
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ml-2" })
    </form>
</div>


